/*CLASSES GERAIS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 250px;
    }

body{
    background-color: aliceblue;
    height: 100vh;
}

.interface{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display:flex ;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18x;
    font-weight: 600;
    background-color: rgb(38, 161, 231);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(190, 185, 185);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover{
    color: black;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

/*ESTILO DO MENU MOBILE*/
.btn-abrir-menu{
    display: none;
}

.btn-abrir-menu i{
    color: rgb(38, 160, 231);
    font-size: 40px;
}

.menu-mobile {
    background-color: rgb(0, 0, 0) ;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: 0.5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar i {
    color: rgb(38, 160, 231);
    font-size: 30px;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: rgb(38, 160, 231);
    color: rgb(0, 0, 0);
}

.overlay-menu{
    background-color: #ffffff7d;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.btn-contato button:hover{
    box-shadow: 0px 0x 8px rgb(38, 160, 231);
    transform: scale(1.05);
}


/*TOPO DO CURRPICULO*/
section.topo-do-curriculo{
    padding: 40pc 4%;
}

section.topo-curriculo .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-curriculo h1{
    color: rgb(38, 160, 231);
    font-size: 42px;
    line-height: 40px;
}

.topo-curriculo .txt-topo-curriculo p{
    color: black;
    margin: 40px 0px;
}



/*ESTILO ESPERIÊNCIAS*/
section.experiencias{
    padding: 40px 4%;
}

section.experiencias .flex{
    align-items: center;
    gap: 60px;
}

.experiencias .txt-experiencias{
    color: black;
}

.experiencias .txt-experiencias h1{
    font-size: 40px;
    color: rgb(38, 160, 231) ;
    margin-bottom: 30px;
}

.experiencias .txt-experiencias p{
    margin: 10px 0;
    text-align: justify;
}


@media screen and (max-width: 1105px) {
    /* classes gerais*/
    .flex{
        flex-direction: column;
    }

    .topo-curriculo .flex{
        flex-direction: column-reverse;
    }

    h2.titulo{
        font-size: 32px;
        line-height: 30px;
    }

    /*Cabeçalho*/
    .menu-desktop, .btn-contato{
        display: none;
    }

    /*topo do site*/
    section.topo-curriculo .flex{
        gap: 40px;
    }

    img {
        width: 180px;
        }
    
    section.topo-do-curriculo{
        padding: 20px 10%;
    }

    .topo-curriculo h1{
        font-size: 32px;
    }

    /*redes sociais*/
    section.redes-sociais{
        padding: 40px 8%;   
        max-width: 400px;
        margin: 0 auto;
    }

    .btn-abrir-menu{
        display: block;
    }
}

/*ESTILO DO RODAPÉ*/
footer{
    padding: 60px 4%;
    box-shadow: 0 0 10px rgba(106, 105, 105, 0.252); 
}

footer .flex{
    justify-content: space-between;
}

footer .linefooter p i{
    color: rgb(38, 160, 231);
    font-size: 22px;
}

footer .linefooter p a {
    color: black;
}

.borda {
    border-top: 2px solid rgb(38, 160, 231); 
}